/* Navbar Styles */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 80px;
  background-color: #1a252f;
  color: #fff;
}

.logo {
  font-size: 1.8rem;
  font-weight: bold;
  margin: 0;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 40px;
  margin: 0;
  padding: 0;
}

.nav-links a {
  color: #fff;
  text-decoration: none;
  font-size: 1.1rem;
}

.nav-links a:hover {
  text-decoration: underline;
}

/* Home Section */
.home {
  padding: 120px 100px;
  text-align: left;
  background-color: #f4f7f9;
  min-height: 47vh;
}

.home-heading {
  font-size: 3rem;
  margin-bottom: 25px;
  color: #1a252f;
}

.home-description {
  font-size: 1.3rem;
  line-height: 1.8;
  color: #444;
}

/* Footer Styles */
.footer {
  background-color: #1a252f;
  color: #fff;
  text-align: center;
  padding: 10px 20px;
  font-size: 1rem;
}

.logo img,
.logo-img {
  height: 150px;   /* adjust size */
  width: auto;
  object-fit: contain;
}
